<!-- views/profile.ejs -->
<!-- This is basically a copy of the landing page but is used for different situations -->
<!doctype html>
<html>
<head>
	<title>Weekly Timesheet</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
	<!-- this test for a falg in order to enseurte that the new entry was created successfully -->
	<% if(status){ %>
	<script> alert("New entry successfully created!");</script>
	<!-- if it didn't work then report the user the failure -->
	<%}else{%>
		<script> alert("Could not create new entry!");</script>
		<%}%>
		<!-- The header we all know and love -->
		<% include head %>
		</head>
		<body>
		<div class="container">

		<div class="page-header text-center">
			<h1><span class="fa fa-clock-o"></span> Weekly Timesheet</h1>




		</div>
			</div>


		</br>
		<div class="container" id="land">
		<form action="/timesheet/" method="post">
			<div class="form-group" style="margin:100">
				<label for="sel1">Select User:</label></br></br>
				<select class="form-control" id="sel1" name="user" placeholder="User" >

					<!-- This populates the list of options with the user names lastname and id -->
					<%  if(typeof result !="undefined"){ result.forEach(function(data) { %>
					<% if(typeof user!="undefined"){ if(user[2]==data.User_ID){
						console.log("We found a match!");%>
						<option selected="selected"><%= data.FirstName %>   <%= data.LastName %>  <%= data.User_ID %>  </option>
				<%	} } %>
					<% if(typeof user =="undefined"||user[2]!=data.User_ID){ %><option><%= data.FirstName %>   <%= data.LastName %>  <%= data.User_ID %>  </option>
						<%}%>
					 <% }); }%>
				 </select>
			 </br><br><br>
			 <label for="date">Select Month and Year:    </label><br></br>
			 <% if (typeof dateF == "undefined"){ %>
			 <input type="month" class="form-control" id="date" name="date" placeholder="yyyy-mm">
			 <% }else{ %>
			 <input type="month" class="form-control" id="date" name="date" placeholder="yyyy-mm" value="<%- dateF -%>">
			 <% } %>
			 <% if (typeof pidF == "undefined"){ %>
			<input  style="width:50%" type="text" class="form-control"  name="pid" placeholder="Project number (Optional)">
			<% }else{ %>
			<input  style="width:50%" type="text" class="form-control" value="<%- pidF -%>" name="pid" placeholder="Project number (Optional)">
			<% } %>
			<% if (typeof weekF == "undefined"){ %>
			<input  style="width:50%" type="number" class="form-control"  name="week" placeholder="Week 1-5 (Optional)" min="1" max="5">
			<% }else{ %>
				<input  style="width:50%" type="number" class="form-control"  name="week" placeholder="Week 1-5 (Optional)" min="1" max="5" value="<%- weekF -%>">
				<% } %>
		 </br>


				<button style="float:right" type="submit" class="btn btn-success">Select </button>
				 </div>
			</form>


		</div>
		<!-- table and new entry module are in a different ejs -->
		<% include table %>
		</body>
		</html>
