<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/portfolio-item.css" rel="stylesheet">


  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/upload">Upload</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
      </h1>
      <div class="container">
  	<div class="row">

  		<h2>Stylish Search Box</h2>
      <div class="container">
<div id="quick-access">
<form class="form-inline quick-search-form" role="form" action="/project" method="post">
 <div class="form-group">
     <input type="text" class="form-control" placeholder="Search here" name="query">&nbsp;&nbsp;
 </div>
 <button type="submit" id="quick-search" class="btn btn-success">Search</button></br></br></br>
</form>
</div>
</div>
  	</div>
  </div>


      <!-- Portfolio Item Row -->
      <div class="row">
        <% if(data.length>0){ %>
        <div class="col-md-8">
          <img class="img-fluid" src="/static/public/images/upload_images/<%=data[0].image%>" href="/static/public/images/upload_images/<%=data[0].image%>">
          <figcaption>Image name: <%=data[0].image%></figcaption>
        </div>
        <% } %>

        <div class="col-md-4">
          <h3 class="my-3">Project Description</h3>
          <%

          if(typeof data[0] !='undefined'&& data[0].description!=null && data[0].description.length>1){ %>
            <p> <%=data[0].description%><p>
              <% }else{ %>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
          <% } %>
          <h3 class="my-3">Project Details</h3>
          <ul>
            <li>Lorem Ipsum</li>
            <li>Dolor Sit Amet</li>
            <li>Consectetur</li>
            <li>Adipiscing Elit</li>
          </ul>
        </div>

      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Related Projects</h3>

      <div class="row">

        <% if(data.length>0){
        if(data.length <= 5){
        for (var i=1; i< data.length; i++){ %>
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="/static/public/images/upload_images/<%=data[i].image%>">
            <img class="img-fluid" src="/static/public/images/upload_images/<%=data[i].image%>" alt="">
          </a>
          <figcaption>Image name: <%=data[i].image%></figcaption>
        </div>
        <% }} else{
        for (var i=1; i< 5; i++){ %>
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="/static/public/images/upload_images/<%=data[i].image%>">
              <img class="img-fluid" src="/static/public/images/upload_images/<%=data[i].image%>" alt="">
            </a>
            <figcaption>Image name: <%=data[i].image%></figcaption>
          </div>
        <%} } } %>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
