<html>
<head>
<style type="text/css">
.blue_bg{ background-color:#5ccbf0; }
.head{ background-color: #14a2d2}
.new{position: fixed; bottom: 2;}

table, th, td {
    border: 1px solid black;
}
</style>
  <link rel="stylesheet" href="styles.css">
  <% var daysInWeek = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday'];
    var count =0;
   %>
</head>
<body>
  <% if(typeof query !='undefined') {



     query.forEach(function(data){
       console.log("ID "+data.id);
       data.day= data.TimeDate.getDay()-1;
       console.log("Number of day: "+data.day);
       data.week= weekAndDay(data.TimeDate);
       console.log("Number of week: "+data.week);
     })


    %>

    <% } %>
  <table style="width:100%" class='table table-hover table-inverse' id='t2' >
    <thead>
      <tr class="head">
            <th style="width:20%">Total Hours</th>
            <th style="width:20%">Project</th>
            <th style="width:50%">Description</th>
            <th style="width:10%">Hours</th>
        </tr>
      </thead>
      <tbody>
       <% for(var i=0; count < 5; i++ )
        {
          %>
        <tr>
          <td class="blue_bg" colspan="4" ><b><%- daysInWeek[i] -%></b></td>
        </tr>
          <%
          //Test for new week
          if(i==6){
            i=-1;
            count++;
          }
          //Loop trough query
          if(typeof query !='undefined') {



             query.forEach(function(data){
                    if(data.day==i && data.week==count){

                      console.log("Data Total: "+data.Total);

                      data.Total = minutes2H(data.Total);

                      console.log("After minutes to hours: "+data.Total);



                  %>
                 <tr>
                   <td><%- data.TimeDate -%></td>
                   <td><%- data.Proj_ID -%></td>
                   <td><%- data.PDesc -%></td>
                   <td><%- data.Total -%></td>
                 </tr>

            <% } })  }

        } %>
        <% if(typeof query !='undefined')
        {  %>
        </br></br><hr>
        <div class="container">
        <form action="/" method="post">
          <input type="text" name="ID" value="<%- user -%>">
          <button style="float:right; margin-right:1.5em" type="submit" class="btn btn-info">Create </button>



        </form>
      </div>
      </br><hr>
          <% } %>

</body>
<% function weekAndDay(date) {



        var prefixes = [0, 1, 2, 3, 4];

    return prefixes[0 | date.getDate() / 7];

}

function minutes2H(a){
  var hours = Math.trunc(a/60);
  console.log(hours);
  var minutes = a % 60;
  console.log(minutes);
  hours = JSON.stringify(hours);
  minutes = JSON.stringify(minutes);
  var result = hours+":"+minutes;
  return result;
}

 %>
</html>
