<html>
<head>
<style type="text/css">
.blue_bg{ background-color:#5ccbf0; }
.bluer_bg{ background-color:#14a2d2; }
.head{ background-color: #14a2d2; webkit-print-color-adjust: exact;}
.new{position: fixed; bottom: 2;}
.label{display:block;}
body{
  -webkit-print-color-adjust:exact;
}

table, th, td {
    border: 2px solid black;
}
</style>
  <link rel="stylesheet" href="styles.css">
  <% var daysInWeek = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday'];
    var count =0;
   %>
</head>
<body>
  <% if(typeof query !='undefined') {



     query.forEach(function(data){
       console.log("ID "+data.id);
       data.day= data.TimeDate.getDay()-1;
       if(data.day==-1){
         data.day=6;
       }
       console.log("Number of day: "+data.day);
       data.week= weekAndDay(data.TimeDate);
       console.log("Number of week: "+data.week);
     })

        var first = user[0];
        var second = user[1];
        var num = user[2];

    %>


    <% } %>
    <div class="container">

  <table style="width:100%" class='table table-hover table-inverse' id='t2' >
    <thead >
      <tr class="head" >
            <th style="width:20%">Total Hours</th>
            <th style="width:20%">Project</th>
            <th style="width:50%">Description</th>
            <th style="width:10%">Hours</th>
        </tr>
      </thead>
      <tbody>
       <% for(var i=0; count < 5; i++ )
        {
          %>

          <% if(i<7){ %>
        <tr>
          <td class="blue_bg" colspan="4" ><b><%- daysInWeek[i] -%></b></td>
        </tr>
        <% } %>
          <%
          //Test for new week
          if(i==7){
            i=-1;
            count++; if(count<5){ %>
            <tr>
              <td  align="center" class="bluer_bg" colspan="4" ><b>WEEK </b><b><%- count+1 -%></b></td>
            </tr>
          <%}}
          //Loop trough query
          if(typeof query !='undefined') {



             query.forEach(function(data){
                    if(data.day==i && data.week==count && i<7){



                      console.log("Data Total: "+data.Total);

                      data.Total = minutes2H(data.Total);

                      console.log("After minutes to hours: "+data.Total);


                        var day = data.TimeDate;
                        day = JSON.stringify(day);
                        day = day.slice(1,11);

                        console.log("Day pre formating: "+day);

                  %>
                 <tr>
                   <td><%- day -%></td>
                   <td><%- data.Proj_ID -%></td>
                   <td><%- data.PDesc -%></td>
                   <td><%- data.Total -%></td>
                 </tr>

            <% } })  }

        } %>
        <% if(typeof query !='undefined')
        {  %>
        </br><hr>
      </div>
        <div class="container" id="new">
        </br>
          <h2 align="center">Create new entry </h2></br>
        <form action="/" method="post">
          <input hidden type="text" name="ID" value="<%- user -%>">
   			 <input type="date" class="form-control" id="date" name="date" placeholder="Date" title="Date">
         <input type="number" name="project" placeholder="Project number" class="form-control" >
         <input type="text" name="description" placeholder="Project description" class="form-control" >
         <input style="width:10" type="time" placeholder="Time In" value="TimeI" name="timeI" class="form-control" id="timeI" title="Time in" />
         <input style="width:10" type="time" placeholder="Time Out" value="TimeO"  name="timeO" class="form-control" id="timeO" title="Time out"/ ></br></br>

           <button style="float:right; margin-right:1.5em" type="submit" class="btn btn-info">Create </button>


        </form>
      </div>
    </br><hr></br></br>
    <h2 align="center" style="margin-left:100"><%- first -%>   <%- second -%> | <%- num -%> </h2></br></br>
          <% } %>

</body>
<% function weekAndDay(date) {



        var prefixes = [0, 1, 2, 3, 4];

    return prefixes[0 | date.getDate() / 7];

}

function minutes2H(a){
  var hours = Math.trunc(a/60);
  console.log(hours);
  var minutes = a % 60;
  console.log(minutes);
  hours = JSON.stringify(hours);
  minutes = JSON.stringify(minutes);
  var result = hours+":"+minutes;
  return result;
}

 %>
</html>
