<!-- This is one of the most complex ejs files it contains the table and the nnew entry creation module -->
<html>
<head>
  <!-- All of this is style for this particular file -->
<style type="text/css">
.blue_bg{ background-color:#5ccbf0; }
.bluer_bg{ background-color:#14a2d2; }
.head{ background-color: #14a2d2; webkit-print-color-adjust: exact;}
.foot{ background-color: #0f7ea3; color:white; font-weight: bold;webkit-print-color-adjust: exact;}
.footd{ background-color: #0a7ea3; color:white; font-weight: bold;webkit-print-color-adjust: exact;}
.new{position: fixed; bottom: 2;}
.label{display:block;}
body{
  -webkit-print-color-adjust:exact;
}

table, th, td {
    border: 2px solid black;
}
</style>
  <link rel="stylesheet" href="styles.css">
  <% var daysInWeek = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday'];
    var count =0;
   %>
</head>
<body>
  <!-- check if variabel query is defined -->
  <% if(typeof query !='undefined') {
<!-- crate a variable to keep track of the total time -->
        var timeT=0;
        var timeOW=0;

<!-- Loops to results of the query -->
     query.forEach(function(data){
       console.log("ID "+data.id);
       <!-- This create the object property day from the query -1 so it will match the iterations of the table starting at 0 for monday -->
       data.day= data.TimeDate.getDay()-1;
       <!-- Given that sunday is 0 , 0 -1 is -1 , we need it to be 6 -->
       if(data.day==-1){
         data.day=6;
       }
       console.log("Number of day: "+data.day);
       data.week= weekAndDay(data.TimeDate);
       console.log("Number of week: "+data.week);
       <!-- Make the sum of the total time so far in minutes -->
       timeT = data.Total+timeT;

       console.log("This is week from data: "+ data.week);

       if(typeof weekN!= "undefined" && weekN-1==data.week){
         console.log("This is week varaible: "+weekN);
         timeOW= data.Total+timeOW;
       }
     })
     <!-- This helps parse the user input in to first last and id -->
        var first = user[0];
        var second = user[1];
        var num = user[2];
        console.log("This is time total in minutes dawg: "+ timeT );
        console.log("This is time total in minutes for one week: "+ timeOW );
        <!-- This awesome function will converte minutes to hours -->
        timeT=minutes2H(timeT);
        timeOW=minutes2H(timeOW);
        console.log("This is time total but in hours fool!:"+ timeT );

    %>


    <% } %>
    <div class="container">

  <table style="width:100%" class='table table-hover table-inverse' id='t2' >
    <thead >
      <!-- This is the header of the project table -->
      <tr class="head" >
            <th style="width:20%">Total Hours</th>
            <th style="width:20%">Project</th>
            <th style="width:50%">Description</th>
            <th style="width:10%">Hours</th>
        </tr>
      </thead>
      <tbody>
        <!-- This table is set up to generate 7 days a week for 5 iterations make a total o 5 weeks a month -->
       <%
       if(typeof weekN=="undefined" ||  weekN.length<1 ) {

         if(typeof query !="undefined"){


       for(var i=0; count < 5; i++ )
        {
          %>

          <% if(i<7){ %>
        <tr>
          <td class="blue_bg" colspan="4" ><b><%- daysInWeek[i] -%></b></td>
        </tr>
        <% } %>
          <%
          <!-- Since I crate the loop before the rest of the code the loop must go up to 7 to complete each cicle -->
          //Test for new week
          if(i==7){
            i=-1;
          <!-- Only prints new day if the number of week is equal or lees than 4 -->
            count++; if(count<5){ %>
            <tr>
              <td  align="center" class="bluer_bg" colspan="4" ><b>WEEK </b><b><%- count+1 -%></b></td>
            </tr>
          <%}}
          //Loop trough query
          if(typeof query !='undefined') {


            <!-- This will populate the table only if the day and week matches , also number of day must be less than 7-->
             query.forEach(function(data){
                    if(data.day==i && data.week==count && i<7){



                      console.log("Data Total: "+data.Total);

                      data.Total = minutes2H(data.Total);

                      console.log("After minutes to hours: "+data.Total);


                        var day = data.TimeDate;
                        day = JSON.stringify(day);
                        day = day.slice(1,11);

                        console.log("Day pre formating: "+day);

                  %>
                 <tr>
                   <td><%- day -%></td>
                   <td><%- data.Proj_ID -%></td>
                   <td><%- data.PDesc -%></td>
                   <td><%- data.Total -%></td>
                 </tr>

            <% } })  }

        } %>
        <tfoot>
          <tr class="foot" >
            <!-- calculation for the total houes for query -->
            <td colspan="3" align="right"><b>TOTAL HOURS : <b></td><td><%- timeT -%></td>
            <tr>
            </tfoot>

         <% } }
         else{

           var dayA=[0,0,0,0,0,0,0];
           for(var i=0;i<7;i++){%>
             <tr>
               <td class="blue_bg" colspan="4" ><b><%- daysInWeek[i] -%></b></td>
             </tr>


          <% if(typeof query !='undefined') {


            <!-- This will populate the table only if the day and week matches , also number of day must be less than 7-->
             query.forEach(function(data){
               if(data.day==i && data.week==weekN-1){



                 console.log("Data Total: "+data.Total);
                 dayA[i]=dayA[i]+data.Total;
                 data.Total = minutes2H(data.Total);


                 console.log("After minutes to hours: "+data.Total);


                   var day = data.TimeDate;
                   day = JSON.stringify(day);
                   day = day.slice(1,11);

                   console.log("Day pre formating: "+day);

                %>
                <tr>
                  <td><%- day -%></td>
                  <td><%- data.Proj_ID -%></td>
                  <td><%- data.PDesc -%></td>
                  <td><%- data.Total -%></td>
                </tr>

            <% }})%>
            <
              <tr class="footd" >
                <!-- calculation for the total houes for query -->
                <td colspan="3" align="right"><b>TOTAL DAY HOURS : <b></td><td><%- minutes2H(dayA[i]) -%></td>
                <tr>


           <%}  } %>
           <tfoot>
             <tr class="foot" >
               <!-- calculation for the total houes for query -->
               <td colspan="3" align="right"><b>TOTAL HOURS : <b></td><td><%- timeOW -%></td>
               <tr>
               </tfoot>
  <!-- Last else -->
           <%}%>
           <!-- check if there is a user id assigend to session if so generate new entry creator using current session id -->
       <% if(typeof query !='undefined')
       {  %>
       </br><hr>
     </div>
       <div class="container" id="new">

         <h2 align="center"><%- first -%>   <%- second -%> | <%- num -%> </h2></br>
       <form action="/timesheet/" method="post">
         <input hidden type="text" name="ID" value="<%- user -%>">
         <input type="date" class="form-control" id="date" name="date" placeholder="yyyy-mm-dd" title="Date">
         <select name="project" placeholder="Project number" class="form-control" >
            <option value="" selected disabled hidden>Select Project</option>
         <% projI.forEach(function(data){ %>
           <option> <%- data.Proj_id -%> <%- data.ProjNo -%> <%- data.ProjOfficial -%> <%- data.Owner -%><%- data.Pct -%> </option>

        <% });%>
        <input type="text" name="description" placeholder="Project description" class="form-control" >
        <input style="width:10" type="number" placeholder="Time In Hours" value="Time In Hours" name="time" class="form-control" id="timeI" title="Time in hours"  min="1" max="23"  />


          <button style="float:right; margin-right:1.5em" type="submit" class="btn btn-info">Create </button>


       </form>
     </div>
   </br></br>
   <!--Diplay the first last and id from select user -->

         <% } %>
</body>
<% function weekAndDay(date) {



        var prefixes = [0, 1, 2, 3, 4];

    return prefixes[0 | date.getDate() / 8];

}

function minutes2H(a){
  var hours = Math.trunc(a/60);
  console.log(hours);
  var minutes = a % 60;
  if(minutes < 10){

    minutes="0"+minutes;
    minutes= minutes.toString();
    minutes = minutes.replace(/['"]+/g, '');

  }
  console.log(minutes);
  hours = JSON.stringify(hours);
  if(minutes>9){
  minutes = JSON.stringify(minutes);
}
  var result = hours+" : "+minutes;
  return result;
}

 %>
</html>
